Package: ukui-panel-l10n
Source: ukui-panel
Version: 3.14.2~202001161810
Architecture: all
Maintainer: kylin Developers <ukui@kylinos.cn>
Installed-Size: 11
Depends: qttranslations5-l10n
Section: localization
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/ukui/ukui-panel
Description: Language package for ukui-panel
 This package contains the l10n files needed by ukui-panel.
