#CalendarButton {
     background-color: transparent;
}
#CalendarButton:hover {
     border-width: 1px;
     border-color: rgba(255,255,255,0.1); 
     background: rgba(255,255,255,0.2);
}
#CalendarButtonClicked {
     border-width: 1px;
     border-color: rgba(255,255,255,0.2); 
     background-color: rgba(0,0,0,0.1);
}
#CalendarButtonClicked:hover {
     background: rgba(255,255,255,0.5);
}
#CalendarButtonRelease {
     background-color: transparent;
}
#CalendarButtonRelease:hover {
     border-width: 1px;
     border-color: rgba(255,255,255,0.1); 
     background: rgba(255,255,255,0.2);
}
