*.pro*
plugin.cpp.*
ukui-panel
*.o
*.swp
CMakeLists.txt.user
build
Makefile
.qmake.stash
obj-*
debian/.debhelper/
debian/debhelper*
debian/files
debian/tmp
debian/ukui-panel-l10n.debhelper.log
debian/ukui-panel-l10n.substvars
debian/ukui-panel-l10n/
debian/ukui-panel.debhelper.log
debian/ukui-panel.substvars
obj-x86_64-linux-gnu/
CMakeLists.txt.user
