#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ukui-panel
Comment=任务栏
Exec=ukui-panel
Terminal=false
Type=Application
Icon=baidunetdisk
X-UKUI-AutoRestart=true

