[Desktop Entry]
Name=Panel Daemon
Name[zh_CN]=任务栏后台服务
Comment=ukui panel daemon
Exec=panel-daemon
Type=Application
OnlyShowIn=UKUI;
NoDisplay=true;
X-UKUI-AutoRestart=true
