[Desktop Entry]
Name=sni-daemo
Name[zh_CN]=sni后台服务
Comment=sni-daemo
Comment[zh_CN]=sni后台服务
Exec=sni-daemo
Terminal=false
Type=Application
OnlyShowIn=UKUI
NoDisplay=true
X-UKUI-AutoRestart=true
X-UKUI-Autostart-Phase=Initialization

